@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --font-display: "Urbanist",sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #9328E7;
}

@layer base{
  html{
    font-family: var(--font-display);
  }

  body{
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.custom-scrollbarL-webkit-scrollbar{
  width: 4px;
}

.custom-scrollbarL-webkit-scrollbar-thumb{
  background-color: rgba(100,100,100,0.4);
  border-radius: 10px;
}
.custom-scrollbarL-webkit-scrollbar-track{
  background: transparent;
}

@layer utilities{
  @keyframes text-shine {
    0%{
      background-position: 0% 50%;
    }
    100%{
      background-position: 100% 50%;
    }
  }

  .animate-text-shine{
    animation: text-shine 3s ease-in-out infinite alternate;
  }
}

.input-box{
  @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-purple-300;
}
.resume-a4 {
  width: 794px;
  min-height: 1123px;
  background: #ffffff;
  box-sizing: border-box;
}
/* A4 page setup */
@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    margin: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Hide modal background */
  .fixed,
  .bg-black\/60 {
    background: transparent !important;
  }

  /* Exact A4 size */
  .print-a4 {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    box-sizing: border-box;
    background: white;
  }

  /* Hide buttons & header */
  .print\:hidden {
    display: none !important;
  }
}
